
@{
    ViewBag.Title = "Index";
}

<div id="helloContainer">

</div>


<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="@Url.Content("~/Scripts/jsx/App.jsx")"></script>
<style type="text/css">
    .topMargin {
        margin-top:10px;
    }
</style>
